services:
  allure:
    image: "frankescobar/allure-docker-service:2.35.1"
    restart: unless-stopped
    environment:
      CHECK_RESULTS_EVERY_SECONDS: 1
      KEEP_HISTORY: 1
    ports:
      - "5050:5050"
    volumes:
      - ./allure-results:/app/allure-results
      - ./allure-reports:/app/allure-reports

  allure-ui:
    image: "frankescobar/allure-docker-service-ui:7.0.3"
    restart: unless-stopped
    environment:
      ALLURE_DOCKER_PUBLIC_API_URL: "http://localhost:5050"
      ALLURE_DOCKER_PUBLIC_API_URL_PREFIX: ""
    ports:
      - "5252:5252"